@layer normalize, base, layout;

@import url('./vendor/normalize.css');

@import url('./base/colors.css');
@import url('./base/core-styles.css');
@import url('./base/typography.css');

@import url('./layout/main.css');
@import url('./layout/page.css');

