@layer base {

	body {
		background-color: var(--color-bg);
		color: var(--color-fg);
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
	}

	a {
		color: white;
	}
}
