@layer base {

	:root {
		--color-bg: #030404;
		--color-fg: #D9D9D9;
		--color-stroke: #343A40;
		--color-text-muted: #6C757D;
		--color-primary: #80F891;
		--color-primary-inverted: var(--color-bg);

		--font-body: 'Orbitron', sans-serif;

		--radius-sm: 0.25rem;
		--radius-md: 0.5rem;

		--space-xs: 0.25rem;
		--space-sm: 0.5rem;
		--space-md: 1rem;
		--space-lg: 2rem;
		--space-xl: 4rem;

		--site-width: 87.5rem;
		--site-gutter: 2rem;
	}

}
