---
import ProjectCard from './project-card.astro';
---

<section class="projects-viewer">
	<ProjectCard
		name="Pair Up!"
		type="Memory cards game"
		status="Free to play"
		href="#"
		image="https://i.imgur.com/VXwifQR.png"
	/>
</section>

<style>

.projects-viewer {
	margin-block: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

</style>
