---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../projects/main/components/site-header.astro';
import Container from '../projects/main/components/container.astro';
import WelcomeText from '../projects/main/components/welcome-text.astro';
import ProjectsList from '../projects/main/components/projects-list.astro';

import '../projects/main/styles/main.css';
---

<Layout>
	<main class="homepage">
		<Container>
			<SiteHeader />
			<WelcomeText/>
			<ProjectsList />
		</Container>
	</main>
</Layout>

<style>

.homepage {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
}

</style>
