---
// Route: /projects/sliders
import Layout from '../../layouts/Layout.astro';

// Load components like:
// import SliderControl from '../../projects/sliders/components/SliderControl.astro';

import '../../projects/cards/styles/cards.css';
---

<Layout>
	<div class="cards-page">
		<header>
			<a href="/">← Back to Home</a>
			<h1>Cards?</h1>
		</header>

		<main>
		</main>
	</div>
</Layout>

<script>
	import '../../projects/cards/scripts/cards.ts';
</script>
