---
// Route: /projects/cards
import Layout from '../../layouts/Layout.astro';
import SiteHeader from '../../projects/cards/components/site-header.astro';
import SiteFooter from '../../projects/cards/components/site-footer.astro';
import CardGrid from '../../projects/cards/components/cards.astro';
import Controls from '../../projects/cards/components/controls.astro';
import VictoryModal from '../../projects/cards/components/victory-modal.astro';
import SettingsModal from '../../projects/cards/components/settings-modal.astro';

import Container from '../../projects/main/components/container.astro';

import '@12col/cyberpunk-ui/styles/tokens';
import '../../projects/cards/styles/cards.css';
---

<Layout title="Memory cards">
	<div class="site-container">
		<SiteHeader>
		</SiteHeader>
		<div class="site-container__main">
			<main>
				<Container>
					<Controls />
					<p class="sr-only">
						This memory card game uses live announcements to help you play.
						When you enter the card grid, you'll hear its dimensions.
						Flipping a card announces its name, and matching pairs is announced.
					</p>
					<CardGrid />
				</Container>
			</main>
		</div>
		<SiteFooter />
	</div>
	<VictoryModal />
	<SettingsModal />
</Layout>

<script>
	import '../../projects/cards/scripts/game-init.ts';
	import '../../projects/cards/scripts/cards.ts';
	import '../../projects/cards/scripts/grid-layout.ts';
	import '../../projects/cards/scripts/victory-modal.ts';
</script>

