@layer components {
	.cards-grid {
		& button {
			appearance: none;
			border: none;
			padding: 0;
			margin: 0;
			width: 100%;
			background: transparent;
			cursor: pointer;
			border-radius: var(--radius-surface);

			/* The rotation part */
			perspective: 1000px;

			&:focus-visible {
				outline: 2px solid currentColor;
			}
		}
		& button img {
			display: block;
			width: 100%;
			height: 100%;
		}

		& button[data-state="default"] .inner {
			transform: rotateY(0deg);
		}

		& button[data-state="open"] .inner,
		& button[data-state="solved"] .inner {
			transform: rotateY(180deg);
		}
	}

	.cards-grid__inner {
		&:not([data-waiting="true"]) button:active {
			transform: scale(0.97);
		}

		&[data-waiting="true"] button {
			cursor: not-allowed;
		}
	}

	.cards-grid__inner .inner {
		display: block;
		transform-style: preserve-3d;
		position: relative;
		aspect-ratio: var(--card-aspect-ratio, 1);
	}

	.cards-grid__inner .front,
	.cards-grid__inner .back {
		backface-visibility: hidden;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.cards-grid__inner .back {
		transform: rotateY(180deg);
	}

	.cards-grid__inner .is-hidden {
		display: none;
	}

	@media (prefers-reduced-motion: no-preference) {
		.cards-grid__inner button {
			transition:
				transform 0.1s ease-in-out,
				opacity 0.3s ease-in-out;
		}

		.cards-grid__inner .inner {
			transition: transform var(--card-flip-duration);
		}
	}
}
