@layer components {
	.cards-grid__inner > [role="gridcell"] {
		appearance: none;
		border: none;
		padding: 0;
		margin: 0;
		transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out;
		background: transparent;
		cursor: pointer;

		/* The rotation part */
		perspective: 1000px;
	}

	.cards-grid__inner > [role="gridcell"] img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.cards-grid__inner > [role="gridcell"][data-state="default"] .inner {
		transform: rotateY(0deg);
	}

	.cards-grid__inner > [role="gridcell"][data-state="open"] .inner,
	.cards-grid__inner > [role="gridcell"][data-state="solved"] .inner {
		transform: rotateY(180deg);
	}

	.cards-grid__inner .inner {
		transition: transform var(--card-flip-duration);
		transform-style: preserve-3d;
		position: relative;
		aspect-ratio: 3 / 4;
	}

	.cards-grid__inner .front,
	.cards-grid__inner .back {
		backface-visibility: hidden;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		border-radius: var(--radius-surface);
		overflow: hidden;
	}

	.cards-grid__inner .back {
		transform: rotateY(180deg);
	}

	.cards-grid__inner .front {
		background: rgba(255 255 255 / 2%);
		border: 1px solid rgba(255 255 255 / 40%);
	}
}
