---
import { VALID_COUNTS } from "../constants";
---

<div class="card-count-selector">
  <label id="card-count-label">Set playing cards count:</label>
  <div
    class="card-count-selector__buttons"
    role="group"
    aria-labelledby="card-count-label"
  >
    {
      VALID_COUNTS.map((count) => (
        <button
          type="button"
          class="card-count-selector__button"
          aria-pressed="false"
          data-count={count}
        >
          {count}
        </button>
      ))
    }
  </div>
</div>

