---
// Each card on it's own

interface Props {
    url: string;
    alt: string;
}

const { url, alt } = Astro.props;
---

<button data-state="default" data-pair={alt} type="button">
    <div class="inner">
        <div class="front"></div>

        <div class="back">
            <img src={url} alt={alt} draggable="false" />
        </div>
    </div>
</button>

<style>
    button {
        appearance: none;
        border: none;
        padding: 0;
        margin: 0;
        transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out;
        background: transparent;

        /* The rotation part */
        perspective: 1000px;

        & :global(img) {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:active {}
    }

    [data-state="default"] {
        & .inner {
            transform: rotateY(0deg);
        }
    }

    [data-state="open"],
    [data-state="solved"] {
        & .inner {
            transform: rotateY(180deg);
        }
    }

    .inner {
        transition: transform var(--card-flip-duration);
        transform-style: preserve-3d;
        position: relative;
        aspect-ratio: 3 / 4;
    }

    .front,
    .back {
        backface-visibility: hidden;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .back {
        transform: rotateY(180deg);
    }

    .front {
        background: rgba(255 255 255 / 10%);
    }
</style>
