---
import Card from './card.astro';
import { shuffleArray } from '../scripts/shuffle';
import gameCardsData from '../data/cards.json';

interface Props {
    count: number;
}

interface GameCard {
    url: string;
    alt: string;
}

const { count } = Astro.props;

const imageParams = `?q=30&w=500&h=500&auto=format&fit=crop`

const gameCards: GameCard[] = gameCardsData;

// Create pairs of cards for memory game and shuffle them
const outputCards = shuffleArray(gameCards.concat(gameCards)).map((card) => ({
    ...card,
    url: card.url + imageParams,
}));

---


<div class="cards-grid">
    <div class="cards-grid__inner">
        {outputCards.map((card) => (
            <Card url={card.url} alt={card.alt} />
        ))}
    </div>
</div>

<style>

    .cards-grid {
        container: cards-grid / inline-size;
    }

    .cards-grid__inner{
        --card-flip-duration: 800ms;
        --cards-per-row: 3;

        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(var(--cards-per-row), 1fr);

        @container cards-grid (width > 32rem) {
            --cards-per-row: 4;
        }

        @container cards-grid (width > 48rem) {
            --cards-per-row: 5;
        }

        @container cards-grid (width > 60rem) {
            --cards-per-row: 9;
        }
    }
</style>
