---
import Score from './score.astro';
import PackSelector from './pack-selector.astro';
import CardCountSelector from './card-count-selector.astro';
---

<div class="controls">
	<div class="controls__start">
		<Score />
	</div>
	<div class="controls__end">
		<PackSelector />
		<CardCountSelector />
	</div>
</div>
