---
import Clock from './clock.astro';
import Score from './score.astro';
import PackSelector from './pack-selector.astro';
import CardCountSelector from './card-count-selector.astro';
---

<div class="controls">
	<div class="controls__start">
		<Clock />
		<Score />
	</div>
	<div class="controls__end">
		<CardCountSelector />
		<PackSelector />
	</div>
</div>

<style>
	.controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-block: 1.5rem;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.controls__start,
	.controls__end {
		display: flex;
		gap: 1.5rem;
		align-items: center;
	}
</style>
