---
import Score from './score.astro';
import PackSelector from './pack-selector.astro';
---

<div class="controls">
	<div class="controls__start">
		<Score />
	</div>
</div>

<style>

	.controls {
		margin-bottom: 1rem;
	}
</style>
