---
import Clock from './clock.astro';
import PackSelector from './pack-selector.astro';

interface Props {
	currentPackId?: string;
}

const { currentPackId } = Astro.props;
---

<div class="controls">
	<Clock />
	<PackSelector currentPackId={currentPackId} />
</div>

<style>
	.controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-block: 1.5rem;
	}
</style>
