---
// Pack selector - options populated by client-side JavaScript
---

<div class="pack-selector">
  <label for="pack-select">Pack:</label>
  <select id="pack-select" class="pack-selector__select"></select>
</div>

