---
interface Props {
    title: string;
    subtitle?: string;
}

const { title, subtitle } = Astro.props;

---


<header class="site-header">
    <div class="container container--wide">
        <div class="site-header__inner">
            <h1>{title}</h1>
            {subtitle && <p>{subtitle}</p>}

            <slot />
        </div>
    </div>
</header>

<style>

.site-header {
    padding-block: 0.25em;
    border-bottom: 1px solid var(--color-stroke);

    & h1 {
        font-size: 1em;
        border-inline-end: 1px solid var(--color-stroke);
        padding-inline-end: 1em;
    }

    & p {
        color: var(--color-muted);
    }
}

.site-header__inner {
    gap: 1em;
    display: flex;
    align-items: center;
    text-align: center;
}

</style>
