---
import SiteHeader from '../../../components/SiteHeader.astro';
import Container from '../../main/components/Container.astro';
import { versions } from '../../../versions';

const { version } = versions.cards;
---

<SiteHeader>
    <Container>
        <div class="site-header__primary">
            <div class="site-header__cell site-logo">
                <a href={import.meta.env.BASE_URL}>Welcome to 12col</a>
            </div>
            <div class="site-header__cell project-name">
                <a href={`${import.meta.env.BASE_URL}projects/cards/`}>Pair Up!</a>
            </div>
            <div class="site-header__cell site-header__cell--spacer">
                <div class="decorative-text-lines">
                    <cyber-text>flip over cards to reveal hidden symbols</cyber-text>
                    <cyber-text>and find their identical pairs.</cyber-text>
                </div>
            </div>
            <div class="site-header__cell site-header__cell--settings">
                <button type="button" class="button" id="settings-open">Game Settings</button>
            </div>
            <div class="site-header__cell">
                <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <circle cx="23" cy="23" r="23" fill="#80F891"/>
                    <path d="M40.0792 20.9505C40.0792 31.0119 32.4326 39.1683 23 39.1683C13.5674 39.1683 5.92078 31.0119 5.92078 20.9505" stroke="#030404" stroke-width="2"/>
                    <path d="M9.32999 18.6745C8.06864 20.7823 5.31889 21.267 3.18823 19.7572" stroke="#030404" stroke-width="2" stroke-linecap="round"/>
                    <path d="M36.67 18.6745C37.9314 20.7823 40.6811 21.267 42.8118 19.7572" stroke="#030404" stroke-width="2" stroke-linecap="round"/>
                    <ellipse cx="29.1486" cy="14.3465" rx="2.73267" ry="5.23762" fill="#030404"/>
                    <ellipse cx="16.8514" cy="14.3465" rx="2.73267" ry="5.23762" fill="#030404"/>
                </svg>
            </div>
            <div class="site-header__cell">

                <div class="decorative-text-lines">
                    <cyber-text size="small">Made by</cyber-text>
                    <cyber-text size="small" variant="vivid">@xavortm</cyber-text>
                    <cyber-text size="small" variant="vivid">@ydarelova</cyber-text>
                </div>

            </div>
        </div>

        <div class="site-header__secondary" aria-hidden="true">
            <div class="site-header__slot">
                <div class="decorative-text-lines">
                    <cyber-text variant="vivid">Grid-ID: Pair Up!</cyber-text>
                </div>
                <cyber-dot count="2" size="small"></cyber-dot>
            </div>

            <div class="site-header__slot">
                <cyber-dot count="2" size="small"></cyber-dot>
                <div class="decorative-text-lines">
                    <cyber-text variant="vivid">v{version}</cyber-text>
                </div>
            </div>
        </div>
    </Container>
</SiteHeader>

<style>

.site-header .site-header__primary {
    justify-content: center;
}

.site-header__cell--spacer {
    flex: 1 1 auto;
}

.project-name {

    & a {
        background: -webkit-linear-gradient(0deg, var(--color-fg), var(--color-text-muted));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
        text-decoration: none;
        padding-inline: 1.75rem;
        transition: 0.2;

        &:hover {
            transition: 0.1s;
            transform: scale(1.1);
        }
    }
}

.site-header__cell--settings {
    /* Remove for MVP */
    display: none;
}

</style>

<script>
  import "@12col/cyberpunk-ui/components/cyber-dot";
  import "@12col/cyberpunk-ui/components/cyber-text";
</script>

