---
import VersionInfo from "../../../components/VersionInfo.astro";
import Container from "../../../projects/main/components/container.astro";

---

<footer class="site-footer">
    <Container>
        <div class="site-footer__inner">
            <a href={import.meta.env.BASE_URL}>← Back to 12col</a>
            <p class="site-footer__version"><VersionInfo project="cards" /></p>
            <p class="site-footer__hint">Navigate with <kbd>arrows</kbd> or <kbd>hjkl</kbd></p>
        </div>
    </Container>
</footer>

