---
import VersionInfo from "../../../components/VersionInfo.astro";
import Container from "../../../projects/main/components/container.astro";

---

<footer class="site-footer">
    <Container>
        <div class="site-footer__inner">
            <a href={import.meta.env.BASE_URL}>← Back to 12col</a>
        </div>
    </Container>
</footer>


<style>
.site-footer {
    padding-block: 1rem;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
    }
}
</style>
